@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes jumpAnimation {
  40% {
    transform: translateY(-5%);
  }
}

.animate-jump {
  animation: jumpAnimation 2s infinite;
}

@keyframes bgRotate {
  0%,
  100% {
    transform: rotate(11.163deg);
  }

  50% {
    transform: rotate(-11.163deg);
  }
}

.animate-rotate {
  animation: bgRotate 10s infinite linear;
}

@keyframes lineSlide {
  0% {
    width: 0;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    width: 100%;
  }
}

.underline {
  position: relative;
  display: inline-block;
  margin-top: 8px;
}

.underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 2px;
  background-color: currentColor; /* Uses the current text color */
  animation: lineSlide 1.5s ease forwards;
  opacity: 0;
  width: 0;
}






