@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes jumpAnimation {
  40% {
    transform: translateY(-5%);
  }
}

.animate-jump {
  animation: jumpAnimation 2s infinite;
}

@keyframes bgRotate {
  0%,
  100% {
    transform: rotate(11.163deg);
  }

  50% {
    transform: rotate(-11.163deg);
  }
}

.animate-rotate {
  animation: bgRotate 10s infinite linear;
}


@keyframes borderColor {
  0% { border-color: red; }
  25% { border-color: blue; }
  50% { border-color: green; }
  75% { border-color: yellow; }
  100% { border-color: red; }
}

.animate-border {
  animation: borderColor 4s infinite;
}

